* {
    font-family:"Questrial", sans-serif;
    outline:none;
}

body {
    text-align:center;
    background-color:#F5F5F0;
}

a {
    position:fixed;
    left:5px;
    bottom:5px;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}

#upperArea {
    display:flex;
}

#key {
    width:30px;
    height:30px;
    background-color:white;
    border-radius:10px;
    border:transparent;
    text-align:center;
}

button {
    cursor:pointer;
}

.underline {
    width:5px;
    height:1px;
    background-color:black;
    position:fixed;
    top:40px;
}

.learnControls {
    position:fixed;
    left:0px;
    top:10px;
    width:125px;
    height:30px;
    background-color:transparent;
    border:transparent solid 1px;
}

.infoArea {
    width:300px;
    margin:auto;
}

#explanation {
    width:100%;
    height:100vh;
    position:fixed;
    background-color:#F5F5F0;
    top:0px;
    z-index:1;
    transition:all 0.5s;
    opacity:0;
    pointer-events:none;
}

#mainContent {
    position:fixed;
    left:50%;
    top:50%;
    transform:translate(-50%,-65%);
}

#selectionArea, #keyArea {
    width:fit-content;
    border-radius:10px;
    background-color:white;
    display:flex;
    margin:auto;
}

#encrypt {
    font-weight:bold;
}
.option {
    width:75px;
    height:35px;
    padding:5px;
    background-color:transparent;
    border:transparent;
    border-radius:10px;
    transition:all 0.5s;
}

textarea {
    width:250px;
    height:100px;
    background-attachment:white;
    border-radius:10px;
    padding:10px;
    border:transparent;
    min-height:100px;
    max-height:200px;
    resize:vertical;
}

#fixText {
    width:270px;
    height:35px;
    background-color:skyblue;
    border:transparent solid 1px;
    border-radius:50px;
}