body {
    font-family:"Questrial", sans-serif;
    text-align:center;
    background-color:#F5F5F0;
}

#selectionArea {
    width:150px;
    border-radius:10px;
    background-color:white;
    display:flex;
}
.option,#selected {
    width:75px;
    height:35px;
    background-color:transparent;
    border:transparent;
}
#selected {
    background-color:blue
}