* {
    font-family:"Questrial", sans-serif;
    outline:none;
}

body {
    text-align:center;
    background-color:#F5F5F0;
}

button {
    cursor:pointer;
}

#learnMore {
    float:left;
    width:125px;
    height:30px;
    background-color:transparent;
    border:transparent solid 1px;
}
#learnMore:hover {
    border-bottom:black solid 1px
}

.infoArea {
    width:300px;
    margin:auto;
}

#explanation {
    width:100%;
    height:100vh;
    position:fixed;
    background-color:#F5F5F0;
    top:0px;
    z-index:1;
}

#mainContent {
    position:fixed;
    left:50%;
    top:50%;
    transform:translate(-50%,-65%);
}

#selectionArea {
    width:fit-content;
    border-radius:10px;
    background-color:white;
    display:flex;
    margin:auto;
}
#encrypt {
    font-weight:bold;
}
.option {
    width:75px;
    height:35px;
    padding:5px;
    background-color:transparent;
    border:transparent;
    border-radius:10px;
    transition:all 0.5s;
}

textarea {
    width:250px;
    height:100px;
    background-attachment:white;
    border-radius:10px;
    padding:10px;
    border:transparent;
    min-height:100px;
    max-height:200px;
    resize:vertical;
}

#fixText {
    width:270px;
    height:35px;
    background-color:skyblue;
    border:transparent solid 1px;
    border-radius:50px;
}