body {
    font-family:"Questrial", sans-serif;
    text-align:center;
    background-color:#F5F5F0;
}

#selectionArea {
    display:inline-block;
    border-radius:10px;
    background-color:white;
}
.option {
    width:100px;
    height:35px;
    background-color:transparent;
    border:transparent;
}